#!/usr/bin/env python3
# -*- coding: utf-8 -*-

from bytehold.handlers import FileSystem
from bytehold import Environment

Environment(name="mormont", remote_host="niwi@localhost", remote_path="/tmp/")
FileSystem(name="My Temporal directory", paths=['/home/niwi/tmp'])
